* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.compliment-container {
    width: 350px;
    height: 300px;
    text-align: center;
    padding: 0.2rem;
    background-color: #63CDE3;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */

}